/* General Styling*/

body {
  background:white;
}

/*Styling of Links*/
a {
  text-decoration:none;
  color:white;
  font-weight:200;
}

a:hover {
  font-weight:600;
  letter-spacing:1px;
}

nav a.selected {
  color:#ffcc99;
}

/*Styling of header */

.primary-header {
  text-align:center;
  background:#b7410e;
  padding-top:10px;
  padding-bottom:10px;
}

.logo-1 {
  color:white;
  font-weight:600;
  letter-spacing:2px;
  font:  225%/100% 'Metamorphous', cursive,  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: 'Petit Formal Script', cursive;*/
}

.logo-2 {
  color:white;
  font-weight:400;
  letter-spacing:2px;
  font:  18px/18px 'Metamorphous', cursive, "Helvetica Neue", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav li {
  display:inline-block;
  margin:4% 1% 1% 1%;
  padding:0.8%;
  }


/* Styling of main content */
.prev-blog {
  width:10%;
  height: 700px;
  margin:3% 1% 3% 2.5%;
  padding:0 5%;
  border: 1px solid grey;
  display:inline-block;
  float:left;
}

.current-blog {
  width:40%;
  height: 700px;
  margin:3% 1% 3% 1%;
  padding:0 5%;
  border: 1px solid grey;
  display:inline-block;
  float:left;
}

.next-blog {
  width:10%;
  height: 700px;
  margin:3% 1% 3% 1%;
  padding:0 5%;
  border: 1px solid grey;
  display:inline-block;
  float:left;
}


.blog-arrow a {
  display:inline:block;
  text-align:left;
  color:grey;
  font-size:16px;
  font-weight:500;
  margin-top:25px;
  float:left;
}

.blog-arrow a:hover {
  color:#b7410e;
}

.blog-right a {

  float:right;
}

.blog-heading {
  clear:both;
  text-align:center;
  margin:0;
  }

.blog-content p {
  color:black;
  line-height:22px;
  text-align:justify;
}

.blog-content .side {
  margin:50px;
  padding:2px;
  width:250px;

}

.blog {
    color:#b7410e;
}

.next-title , .prev-title  {
    margin:40px auto 40px;
    font-weight:200;
    padding:2px;
    font-size:10px;
}

.side {
  margin:0 -25px;
}
.header {
    display:inline-block;
  }

.primary-nav ul {
    width:700px;
  }


/* Styling of footer section */
.primary-footer {
  clear:both;
  padding-bottom:80px;
  padding-top:48px;
  background:#b7410e;
}

.primary-footer small {
    float:left;
    font-weight:400;
    margin-left:4%;
    margin-top:1%;
    color:white;

}

.primary-footer .nav {
  float:right;
  margin-left:50px;
}

.primary-footer .nav li {
  margin:0;
  padding:0%;
  padding-top:-10px;
  margin-top:-25px;

}

.nav li:last-child {
  margin-right:30px;
  }

@media screen and (max-width: 989px) {
    .prev-blog, .next-blog {
      display:none;
    }

    .current-blog {
      display:block;
      width:75%;
      margin:8% ;

      }

    .primary-nav ul {
        width:100%;
      }
    .primary-footer small {
      display:none;
       }

    .nav li:first-child {
      padding:0;
      margin-left:-50px;
      }

    a:hover {
      font-weight:normal;
      letter-spacing:none;
      }
}