/* General Styling*/

body {
  background:url("../imgs/wooden.jpg");
}

/*Styling of Links*/
a {
  text-decoration:none;
  color:#ee7600;
}

a:hover {
  font-weight:bold;
  letter-spacing:1px;
  color:rgb(68, 212, 59);
  border-bottom: 2px dotted #ee7600;
}

nav a.selected {
  color:#ffcc99;
}

/*Styling of header */

.primary-header {
  text-align:center;
  background: url("../imgs/bg_header.jpg") repeat-x top;
  padding-top:10px;
  padding-bottom:10px;
}

.logo-1 {
  color:rgb(68, 212, 59);
  font-weight:900;
  letter-spacing:2px;
  font:  36px/22px, "Roboto", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo-2 {
  color:rgb(68, 212, 59);
  font-weight:900;
  letter-spacing:2px;
  font:  21px/20px, "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav li {
  display:inline-block;
  margin:0 1%;
  padding:0.8%;
  vertical-align:top;
  }

/* Styling of main content */

.main-content {
  max-width:60%;
  height: 700px;
  margin:3% auto 5%;
  padding:0 5%;
  border: 8px dotted brown;
  background:linear-gradient(#C57E30,#F3E2CF,#ffcc99,#964B00);
  border-radius:10%;
}

.blog-arrow {
  text-align:left;
  width: 50px;
  border: 2px solid brown;
  background:#ffcc99;
  margin-top:40px;
}

.blog-heading {
  text-align:center;
  margin:0;
  }

.blog-content p {
  color:brown;
  line-height:22px;
  text-align:justify;
}

.blog {
    color:#4d1e00;
}

.deco-1, .deco-2, .header {
    display:inline-block;
  }

.primary-nav ul {
    width:700px;
  }

/* Styling of footer section */
.primary-footer {
  padding-bottom:80px;
  padding-top:48px;
  background: url("../imgs/bg_header.jpg");
}

.primary-footer small {
    float:left;
    font-weight:400;
    margin-left:4%;
    margin-top:1%;
    color:rgb(68, 212, 59);

}

.primary-footer .nav {
  float:right;
  margin-left:50px;
}

.primary-footer .nav li {
  margin:0;
  padding:0%;
  padding-top:-10px;
  margin-top:-25px;

}

.nav li:last-child {
  margin-right:30px;
  }
