/* General Styling*/

body {
  background:#fef2ee;
  font:  90%/150% 'Metamorphous', cursive,  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* General Styling of Links*/
a {
  text-decoration:none;
  color:white;
  font-weight:300;
  letter-spacing:1px;
}

a.selected, a:hover {
  color:black;
}

/*Styling of header */

.primary-header {
  text-align:center;
  background:#b7410e;
  padding-top:10px;
  padding-bottom:3%;
  margin-top:-10px;
  margin-bottom:-10px;
  width:100%;
}

.logo {
  display:inline-block;
  float:left;
  margin:0 8%;

}

.logo-1 {
  color:white;
  font-weight:600;
  letter-spacing:2px;
  font:  225%/100% 'Metamorphous', cursive,  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: 'Petit Formal Script', cursive;*/
}

.logo-2 {
  color:white;
  font-weight:400;
  letter-spacing:2px;
  font:  18px/18px 'Metamorphous', cursive, "Helvetica Neue", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Styling of navigation bar */

.nav li {
  display:inline-block;
  margin:2% 1% 1% 1%;
  padding:0;
  }

.primary-nav {
  margin-right:7.5%;
}
.primary-nav li a {
  font:  100%/150% 'Metamorphous', cursive,  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primary-nav ul {
  text-align:right;
  margin-right:2%;
}

/* Styling of the main section */

.contact {
  width:80%;

}

h2 {
  color:#b7410e;
  text-align:center;
  font-family:"Lato","Open Sans", sans-serif;
}
form {
    display:inline-block;
    float:left;
    border:1px solid #b7410e;
    width:35%;
    margin:5% 3% 5% 20%;
    border-radius:15px;
    font:  100%/150% 'Metamorphous', cursive,  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow:hidden;
    background:#fff;

}

fieldset {
  border:0;
  margin:0;
  padding:0;
}

input,textarea {
  border-radius:5px;
  font:  120%/150%  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
}


.contact  {
  padding:30px;

}

.contact label {
  color:#b7410e;
  display:block;
  font-weight:bold;
  margin-bottom:20px;
  font-family: Roboto, "Lato","Open Sans", sans-serif;
  margin-left:20px;
}

.contact input,textarea {
  background:#fff;
  border:1px solid grey;
  -webkit-box-shadow:inset 0 10px 10px #fef2ee;
  color:#b7410e;
  padding:2px;


  margin-top:6px;
  width:100%;
}

.contact textarea {
  height:150px;
}

.send-contact {
  background:#fef2ee;
  border-top:1px solid black;
  padding:30px;
}

.send-contact button {
  background:#b7410e;
  border:0;
  color:#fff;
  cursor:pointer;
  font-weight:bold;
  padding:17px 45px;
  border-radius:10px;
  font-family: Roboto, "Lato","Open Sans", sans-serif;
  float:right;
  border:0;
}

/* Styling of side content */

.side-content {
  width:15%;
  border:1px solid #b7410e;
  display:inline-block;
  float:left;
  margin:5% 5% 3% 0;
  padding:2%;
  background:white;
  border-radius:15px;

}

.side-content div {

  margin:8% 10%;
  padding:5%;
  border-radius:10px;
  color:white;
  text-align:center;
}

.facebook {
  background:#3b5998;
}

.twitter {
  background:#33CCFF;
}

.github {
  background:#4183C4;
}

.google {
  background:#C63D2D;
  }

.linkedin {
  background:#007FB1;
}

  /* Styling of footer section */
.primary-footer {
  clear:both;
  padding-bottom:80px;
  padding-top:48px;
  background:#b7410e;
  margin:-10px;
  }

.primary-footer small {
    float:left;
    font-weight:400;
    margin-left:4%;
    margin-top:1%;
    color:white;

  }

.primary-footer .nav {
  float:right;

  }

.primary-footer .nav li {
  margin:0;
  padding:0;
  padding-top:-10px;
  margin-top:-25px;
  }

.nav li:last-child {
  margin-right:30px;
  }


  @media screen and (max-width: 1024px) {
       .logo {
            width:100%;
            margin:0 auto;
        }

        .primary-nav ul {
          display:block;
          clear:both;
          text-align:center;
        }

        .side-content {
          display:none;
        }

        form {
          width:70%;
          margin-left:12%;
        }

       .primary-footer small {
          display:none;
        }

     }

@media screen and (max-width: 640px) {

  .contact input,textarea {
    width:80%;
  }

}